pandas
numpy
matplotlib
seaborn
streamlit
urlextract
wordcloud

emoji
spacy==3.6.1
thinc==8.1.10
numpy
cython==0.29
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
